/* ----------- */
/* ▼呼び出し中番号客 */
/* ----------- */
p.resizeimage1 iframe { width: 24%; }

/* ----------- */
/* ▼呼び出し中番号管 */
/* ----------- */
p.resizeimage2 iframe { width: 24%; }

/* ----------- */
/* ▼待ち組数客 */
/* ----------- */
p.resizeimage3 iframe { width: 25%; }

/* ----------- */
/* ▼待ち組数管 */
/* ----------- */
p.resizeimage4 iframe { width: 25%; }
